*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("./img/Best-Drum-Set.jpg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
    font-family: open sans-serif;
}

main{
    display: flex;
    flex-direction:column;

}
title{
    color: #ffcc00; 
}

.container{
    background-color: white;
    width: 90vw;
    height: 100px;  
    
}