*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("./img/Best-Drum-Set.jpg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
    font-family: open sans-serif;
}